<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        * {
            font-family: "Inter", sans-serif !important;
        }

        body {
            @apply bg-neutral-100;
        }

        .menu-item {
            @apply text-gray-200 px-4 py-1 rounded;
        }

        .active-menu-item {
            @apply bg-blue-500 text-gray-200 px-4 py-1 rounded;
        }

        .app-button {
            @apply h-10 px-4 py-2 bg-blue-500 flex items-center gap-2 rounded-lg shadow justify-start text-center text-base font-medium text-white;
        }
    </style>
    <title>teste</title>
</head>
<body>
<div class="flex items-center justify-center flex-col gap-4">
    <video id="video" width="640" height="480" autoplay></video>
    <div class="flex items-center justify-center gap-2">
        <button id="snap" class="app-button">Tirar Foto</button>
        <form id="form" enctype="multipart/form-data">
            <input class="hidden" id="file" type="file" name="file" accept="image/*">
            <button id="button-enviar" class="text-2xl app-button" type="submit">Enviar</button>
        </form>
    </div>
</div>
<canvas id="canvas" width="640" height="480"></canvas>
<script src="static/js/index.js"></script>
</body>
</html>