{#include components/layout}{#pageTitle}Presença{/pageTitle}

    <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="text-center w-50 d-none alert alert-danger" role="alert">
            <span id="message"></span>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center flex-column gap-4">
        <video class="rounded-pill" id="video" autoplay></video>
        <div class="d-flex justify-content-center gap-2">
            <button id="snap" class="btn btn-secondary">Tirar Foto</button>
            <form id="form" enctype="multipart/form-data">
                <input class="d-none" id="file" type="file" name="file" accept="image/*">
                <button id="button-enviar" class="btn btn-primary" type="submit">Enviar</button>
            </form>
        </div>
    </div>

    <div>
        <canvas class="rounded-pill" id="canvas"></canvas>
    </div>

{/include}