{#include components/layout}{#pageTitle}Presença{/pageTitle}

    <div class="flex items-center justify-center">
        <span id="message" class="message-error"></span>
    </div>

    <div class="flex items-center justify-center flex-col gap-4">
        <video class="rounded-full" id="video" autoplay></video>
        <div class="flex items-center justify-center gap-2">
            <button id="snap" class="button-primary">Tirar Foto</button>
            <form id="form" enctype="multipart/form-data">
                <input class="hidden" id="file" type="file" name="file" accept="image/*">
                <button id="button-enviar" class="button-primary" type="submit">Enviar</button>
            </form>
        </div>
    </div>

    <div>
        <canvas class="w-9/12 m-0" id="canvas"></canvas>
    </div>

{/include}